<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/show.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ace.js"></script>
</head>

<body>
    <div class="container">
        <div class="question">
            <h3><strong><%= question.name %></strong></h3>
            <p style="width: 80%;">
            <%= question.prompt %>
            </p>
            <p class="in">Sample Input 1 : </p>
            <div class="box"><%= question.sampleinput1 %></div>
            <p>Sample Output 1 : </p>
            <div class="box"><%= question.sampleoutput1 %></div>
            <p class="in">Sample Input 2 : </p>
            <div class="box"><%= question.sampleinput2 %></div>
            <p>Sample Output 2 : </p>
            <div class="box"><%= question.sampleoutput2 %></div>
        </div>
        <div class="code-area">
            <div id="editor">#include &lt;stdio.h&gt;

int solution(int params){
    
    //Enter solution here

    return 0;
}

int main(){

    return 0;
}   </div>

   <br/><br/>
            <button class="run" onclick="runTests(this)"><span>Run Code</span></button>
            <br/><br/>
            <span id="results"></span>
        </div>
    </div>
    <script type="text/javascript">
        var e = ace.edit("editor");
        e.getSession().setMode("ace/mode/c_cpp");
        e.setTheme("ace/theme/solarized_dark");
    </script>

<%- include("./partials/footer") %>
